<%= form_for :session, url: sessions_path do |f| %>
  <label><h2>Log in</h2></label>
  <p>
    <%= f.text_field :email, class: "input-xlarge", placeholder: "Email" %>
  </p>
  <p>
    <%= f.password_field :password, class: "input-xlarge", placeholder: "Password" %>
  </p>
  <p>
    <label class="checkbox">
    	<%= f.check_box :stay, { checked: true }, "yes", "no" %>
    	<small>Keep me logged in &nbsp;&nbsp;|&nbsp;&nbsp;</small>
      <small><%= link_to "Forgot password?", '#' %></small>
    </label>
  </p>
  <p>
    <%= f.submit "Log in", class: "btn btn-primary btn-large" %>
  </p>
<% end %>