<% provide(:title, 'Home') %>

<div id="hero">
  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- carousel items -->
          <div class="carousel-inner">
            <!-- slide -->
            <div class="active item slide1">
              <div class="row">
                <div class="span6">
                  <%= image_tag("slide1.png", alt: "slide1") %>
                </div>
                <div class="span4">
                  <h1>Business Cards</h1>
                  <p>
                    Business cards are hidden assets in your box. We wrap it up into your contacts list to help you figure out where next big business opportunity is.
                  </p>
                  <%= link_to "Try it for free", signup_path, class: "btn btn-success btn-large" %>
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide2">
              <div class="row">
                <div class="span4 animated fadeInUpBig">
                  <h1>Mobile Phones</h1>
                  <p>
                    Has your phone contacts book been crowded by do many duplicates, errors and out of date information? We clean and update it to save your precious time and provide you a better experience using your mobile devices.
                  </p>
                  <%= link_to "Try it for free", signup_path, class: "btn btn-success btn-large" %>
                </div>
                <div class="span6 animated fadeInDownBig">
                  <%= image_tag("slide2.png", alt: "slide2") %>
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide3">
              <div class="row">
                <div class="span6 animated fadeInUpBig">
                  <%= image_tag("slide2.png", alt: "slide2") %>
                </div>
                <div class="span4 animated fadeInDownBig">
                  <h1>Emails Clients</h1>
                  <p>
                    Has your phone contacts book been crowded by do many duplicates, errors and out of date information? We clean and update it to save your precious time and provide you a better experience using your mobile devices.
                  </p>
                  <%= link_to "Try it for free", signup_path, class: "btn btn-success btn-large" %>
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide4">
              <div class="row">
                <div class="span4 animated fadeInDownBig">
                  <h1>Seamless Integration</h1>
                  <p>
                    Has your phone contacts book been crowded by do many duplicates, errors and out of date information? We clean and update it to save your precious time and provide you a better experience using your mobile devices.
                  </p>
                  <%= link_to "Try it for free", signup_path, class: "btn btn-success btn-large" %>
                </div>
                <div class="span6 animated fadeInUpBig">
                  <%= image_tag("slide2.png", alt: "slide2") %>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="intro">
  <div class="container">
    <h1>
      We are professional manager of your business contacts<br>
      <h4>Business Cards | Mobile Phones | Email Client
    </h1>
  </div>
</div>