<% provide(:title, 'Home') %>

<div id="hero">
  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- carousel items -->
          <div class="carousel-inner">
            <!-- slide -->
            <div class="item slide1">
              <div class="row">
                <div class="span6">
                  <%= image_tag("slide1.png", alt: "slide1") %>
                </div>
                <div class="span4">
                  <h1>We care your assets</h1>
                  <p>
                    Contacts are hidden assets in your box. You may waste hours digging business from the pile. We wrap them up into your cloud contacts list, helping you figure out easily and fast where next big business opportunity is. <br>
                    Fast, clean and accurate guaranteed.
                  </p>
                  <%= link_to "Try it for free", signup_path, class: "btn btn-success btn-large" %>
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="active item slide2">
              <div class="row">
                <div class="span4">
                  <h1>Contacts are assets</h1>
                  <p>
                    Has your phone contacts book been crowded by many duplicates, errors and out of date information? We clean and update it to save your precious time and provide you a better experience using your mobile devices.
                  </p>
                  <%= link_to "Try it for free", signup_path, class: "btn btn-success btn-large" %>
                </div>
                <div class="span6">
                  <%= image_tag("slide2.png", alt: "slide2") %>
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide3">
              <div class="row">
                <div class="span6">
                  <%= image_tag("slide3.png", alt: "slide3") %>
                </div>
                <div class="span4">
                  <h1>Maintenance is painful </h1>
                  <p>
                    Outlook, Gmail, Excel, your contacts are everwhere. Such a painful thing to maintain it, especially when you get a better job and be ready to migrate your business assets into the new work environment.We help you migrate contacts and distribute into your new devices.
                  </p>
                  <%= link_to "Try it for free", signup_path, class: "btn btn-success btn-large" %>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="intro">
  <div class="container">
    <h1>
      We are professional manager of your business contacts<br>
      <h4>Business Cards | Mobile Phones | Email Clients
    </h1>
  </div>
</div>

<!-- features -->
<div id="features">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Services</span>
      <hr class="right visible-desktop">
    </h2>
    <!-- feature list -->
    <div class="row">
      <div class="span4 feature">
        <h3>
          <i class="i_movil"></i> Contacts integration
        </h3>
        <p class="description">
          Our automatic tool and in-person customer service representatives help you integrate your contacts. No errors, duplicates and no troubles any more.
        </p>
      </div>
      <div class="span4 feature">
        <h3>
          <i class="i_cloud"></i> Everything on the cloud
        </h3>
        <p class="description">
          We build a contacts book on the cloud so you can access your contacts any time no matter where your are, even without your own phone on hand. And absolutely, only you can access it.
        </p>
      </div>
      <div class="span4 feature">
        <h3>
          <i class="i_chart"></i> Intelligent management 
        </h3>
        <p class="description">
          We will inform you immediately when your contacts have any updates. We also help you inform you contacts when you have any updates. You ContactsUp book will always be up-to-date. 
        </p>
      </div>
    </div>
  </div>
</div>

<!-- starts testimonial -->
<div id="testimonials">
  <div class="container">
    <div class="controls">
      <hr>
    </div>
    <div class="phrases_wrapper">
      <div class="phrase">
        <div class="row">
          <div class="span10 offset1">
            <p class="testimony">
              ContactsUp provide you unmatchable experience of business contacts management
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- starts footer -->
    <div id="footer">
        <div class="container">
            <div class="row copyright">
                <div class="span5">
                    <h3>Follow us</h3>
                    <a href="#" class="social fb">
                        <i class="i_facebook"></i>
                    </a>
                    <a href="#" class="social tw">
                        <i class="i_twitter"></i>
                    </a>
                    <a href="#" class="social yt">
                        <i class="i_youtube"></i>
                    </a>
                </div>
                <div class="span3 offset4 copy">
                    <p>2012-2013 ContactsUp.com</p>
                </div>
            </div>
        </div>
    </div>