<%= form_for @user, url: '/reset_password', html: {class: "form-inline"}, validate: true  do |f| %>
  <label><h2>New password</h2></label><br>
  <p>Email: <%= @user.email %></p>
  <p><%= f.hidden_field :token_u, value: params[:token] %></p>
  <p><%= f.password_field :password, placeholder: "Password" %></p>
  <p><%= f.password_field :password_confirmation, placeholder: "Re-type password" %></p>
  <p><%= f.submit "Confirm", class: "btn btn-primary btn-large" %></p>
<% end %>