<%= form_for @user, url: '/users', html: {class: "form-inline"}, validate: true do |f| %>
    <label><h2>Sign up</h2></label>
  <p>
    <%= f.text_field :email, class: "input-xlarge", placeholder: "Email" %>
  </p>
  <p>
    <%= f.text_field :name, class: "input-xlarge", placeholder: "Full Name" %>
  </p>
  <p>
    <%= f.password_field :password, class: "input-xlarge", placeholder: "Password" %>
  </p>
  <p>
    <%= f.password_field :password_confirmation, class: "input-xlarge", placeholder: "Re-type password" %>
  </p>
  <p>
    <label class="checkbox">
    	<%= check_box("page", "stay", { checked: true }, "yes", "no") %>
    	<small>Keep me logged in</small>  	
    </label>
  </p>
  <p>
    <%= f.submit "Sign up", class: "btn btn-large btn-success" %>
  </p>
<% end %>