<%= form_for :session, url: '/accept_login' do |f| %>
  <label><h2>Log in</h2></label>
  <label><h5>to send <%= @contact.inviter.name %> your information</h5></label>
  <br>
  <%= hidden_field :page, :token, value: params[:token] %>
  <%= f.text_field :email, class: "input-xlarge", placeholder: "Email", value: @contact.email , autofocus: true %>
  <%= f.password_field :password, class: "input-xlarge", placeholder: "Password" %>
  <br>
  <label class="checkbox">
  	<%= f.check_box :stay, { checked: true }, "yes", "no" %>
  	<small>Keep me logged in &nbsp;&nbsp;|&nbsp;&nbsp;</small>
    <small><%= link_to "Forgot password?", '#' %></small>
  </label>
  <%= f.submit "Log in", class: "btn btn-primary btn-large" %>
<% end %>