<% if @contacts.any? || @reverse_contacts.any? %>
  <div class="div-table">
    <div class="div-table-inner">
      <table id="contacts_table" class="table tablesorter table-bordered">
        <thead>
          <tr>
            <th class="table-column-hide">Priority</th>
            <th class="cursor-enable">Name</th>
            <th class="cursor-enable">Company/Org</th>
            <th class="cursor-enable">Email</th>
            <th class="cursor-enable">Phone Number</th> 
          </tr>
        </thead>
        <tbody>
        <% if @contacts.any? %>
          <% @contacts.each do |contact| %>
            <% case contact.status %>
            <% when 100 .. 101 %>
              <tr class="error">
                <td class="table-column-hide">3</td>
                <td><strong><%= contact.name %></strong></td>
                <td><%= contact.org %></td>  
                <td>
                  <%= contact.email %>
                  <%= link_to "Remind", remind_path + "?token=#{contact.token}", method: "put", remote: true, class: "btn btn-mini btn-warning btn-remind pull-right" %>              
                </td>
                <td><%= contact.tel %></td>
              </tr>
            <% when 200 .. 211 %>
              <% user = User.find(contact.invitee_id) %>
              <tr>
                <td class="table-column-hide">2</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <strong><%= user.name %></strong>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>
                          <a herf="#">
                            vCard <i class="icon-download"></i>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <%= user.org %>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>Title: <%= user.title %></li>
                      </div>
                    </ul>
                  </div>
                </td>  
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <%= user.email_pref %>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>Work: <%= user.email_work %></li>
                        <li>Personal: <%= user.email_home %></li>
                      </div>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <%= user.tel_pref %>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>Cell: <%= user.tel_cell %></li>
                        <li>Work: <%= user.tel_work %></li>
                        <li>Home: <%= user.tel_home %></li>
                      </div>
                    </ul>
                  </div>                    
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>

        <% if @reverse_contacts.any? %>
          <% @reverse_contacts.each do |contact| %>
            <% case contact.status %>
            <% when 101 %>
              <% user = User.find(contact.inviter_id) %>
              <tr class="info">
                <td class="table-column-hide">1</td>
                <td>
                  <strong><%= user.name %></strong>
                  <div class="btn-group pull-right">
                    <%= link_to "Accept", accept_path + "?token=#{contact.token}", method: "put", remote: true, class: "btn btn-mini btn-success btn-accept" %>
                    <%= link_to "Ignore", ignore_path + "?token=#{contact.token}", method: "put", remote: true, class: "btn btn-mini btn-ignore" %>
                  </div>   
                </td>
                <td><%= user.org %></td>  
                <td><%= user.email_pref %></td>
                <td><%= user.tel_pref %></td>
              </tr>
            <% when 200 .. 211 %>
              <% user = User.find(contact.inviter_id) %>
              <tr>
                <td class="table-column-hide">2</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <strong><%= user.name %></strong>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>
                          <a herf="#">
                            vCard <i class="icon-download"></i>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <%= user.org %>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>Title: <%= user.title %></li>
                      </div>
                    </ul>
                  </div>
                </td>  
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <%= user.email_pref %>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>Work: <%= user.email_work %></li>
                        <li>Personal: <%= user.email_home %></li>
                      </div>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                      <%= user.tel_pref %>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <div class="div-dropdown">
                        <li>Cell: <%= user.tel_cell %></li>
                        <li>Work: <%= user.tel_work %></li>
                        <li>Home: <%= user.tel_home %></li>
                      </div>
                    </ul>
                  </div>                    
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>    
  </div>
<% end %>