<% if @contacts.any? %>
<div class="div-table">
<table id="contacts_table" class="table tablesorter">
  <thead>
    <tr>
      <th class="{sorter: false}">Contacts </th>
    	<th class="cursor-enable" rel="tooltip" title="Sort by name">Name</th>
      <th class="cursor-enable" rel="tooltip" title="Sort by email">Email</th>
      <th class="cursor-enable" rel="tooltip" title="Sort by phone number">Phone Number</th>
      <th class="cursor-enable" rel="tooltip" title="Sort by Title">Title</th>
      <th class="cursor-enable" rel="tooltip" title="Sort by Company/Org">Company/Org</th>
      <th class="cursor-enable" rel="tooltip" title="Sort by last update time">Info last updated at</th>      
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |c| %>
      <% contact = User.find(c) %>
      <tr>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-mini btn-primary">vCard</button>
            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Other Actions", '#' %></li>
            </ul>
          </div>          
        </td>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.tel_pref %></td>
        <td><%= contact.title %></td>
        <td><%= contact.org %></td>        
        <td><%= contact.updated_at.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div>
  <p><h5>&nbsp;&nbsp;&nbsp;Total Contacts: <%= @contacts.count %></h5></p>
</div>
<% if @new_contacts.any? %>
<div id="contactsUpdateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactsUpdateModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="contactsUpdateModalLabel">Updates</h4>
  </div>
  <div class="modal-body modal-table">
    <% @new_contacts.each do |contact| %>
      <p>        
        <%= contact.updated_at.to_date %>: 
        <strong class="text-info"><%= contact.invitee.name %></strong>'s contact information received
      </p>
    <% end %>
    <% @new_contacts.update_all(status: 200) %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-large" data-dismiss="modal" aria-hidden="true">Confirm</button>
  </div>
</div>
<% end %>

<% else %>
  <p><h4>You don't have contact</h4></p><br>
  <a href="#new_contact_modal" role="button" class="btn btn-primary" data-toggle="modal">
    Click to add
  </a>
<% end %>