<ul id="subnav" class="nav nav-pills">
  
  <li class="dropdown">
    <button href="#" class="dropdown-toggle btn btn-success" data-toggle="dropdown", tabindex= "-1">
      <i class="icon-plus icon-white"></i>
    </button>
    <ul class="dropdown-menu">
      <div class="div-dropdown">
        <%= form_for @contact do |f| %>
          <li><h5>Add New Contact</h5></li>
          <%= f.hidden_field :inviter_id, value: current_user.id %>
          <%= f.text_field :email, class: "input-large", placeholder: "Email" %>
          <%= f.submit "Save", class: "btn btn-success pull-left" %><br><br><br>
          <label>Optional Information</label>
          <%= f.text_field :name, class: "input-large", placeholder: "Name" %>
          <%= f.text_field :tel, class: "input-large", placeholder: "Phone Number" %>
          <%= f.text_field :org, class: "input-large", placeholder: "Company/Org" %>       
        <% end %>
      </div>             
    </ul>
  </li>

  <div class="span6 offset3">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div id="subnav_flash" class="flash-message alert alert-<%= key %>">
          <button id="flash_close" class="close" type="button">
            <small>&times;</small>
          </button>
          <%= value %>
        </div>
      <% end %>
    <% end %>
  </div>

  <li class="pull-right">
    <div class="input-prepend">
      <span class="add-on"><i class="icon-search"></i></span>
      <input class="input-small" id="search_input" type="text" placeholder="Search">
    </div>  
      
  </li>
</ul>