<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">  	   
      <nav>
      	<%= link_to image_tag("logo.png", id: "logo"), root_path, id: "logo_link", tabindex: "-1" %>
        <ul class="nav nav-pills pull-right">  
          <% if logged_in? %>                              
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown", tabindex= "-1">
                <i class="icon-user icon-white"></i>
                <b class="caret"></b>
              </a>
              <ul id="profile_dropdown" class="dropdown-menu">                
                <div class="div-dropdown">
                  <li>
                    <strong><%= current_user.name %></strong> | <%= current_user.email %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <u>Primary information</u>:<br>
                    &nbsp;&nbsp;Commpay/Org: <%= current_user.org%><br>
                    &nbsp;&nbsp;Title: <%= current_user.title %><br>
                    &nbsp;&nbsp;Email: <%= current_user.email_pref %><br>
                    &nbsp;&nbsp;Phone: <%= current_user.tel_pref %><br>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <u>Other emails</u>:<br>
                    &nbsp;&nbsp;Work: <%= current_user.email_work %><br>
                    &nbsp;&nbsp;Home: <%= current_user.email_home %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <u>Other phone numbers</u>:<br>
                    &nbsp;&nbsp;Cell: <%= current_user.tel_cell %><br>
                    &nbsp;&nbsp;Work: <%= current_user.tel_work %><br>
                    &nbsp;&nbsp;Home: <%= current_user.tel_home %>
                  </li>
                  <li>
                    <%= button_to "Edit", edit_path, class: "btn btn-success pull-right", method: "get" %> 
                  </li>
                </div>
              </ul>
            </li>
            <li><%= link_to "Log out", logout_path, method: "delete", tabindex: "-1" %></li>
          <% else %>       
            <li><%= link_to "Log in", login_path, tabindex: "-1" %></li>          
          <% end %>    
        </ul>  
      </nav>	      
	  </div>
  </div>
</header>