<nav>
<ul class="nav nav-pills" id="subnav">
  <li <% if yield(:sub_title) == "Contacts" %>class="active"<% end %>>
    <%= link_to '<i class="icon-list-alt"></i>'.html_safe, contacts_path, rel: "tooltip", title: "Your contacts" %>
  </li>
  <li <% if yield(:sub_title) == "Pendings" %>class="active"<% end %>>
    <%= link_to '<i class="icon-envelope"></i>'.html_safe, pendings_path, rel: "tooltip", title: "Pending contacts" %>
  </li>
  <li>
    <a href="#new_contact_modal" data-toggle="modal" rel="tooltip" title="Add new contact">
    <i class="icon-plus"></i>
    </a>
  </li>
  <% if yield(:title) == "Account" %>
    <li class="active pull-right">
      <%= link_to "Account Settings", '#', rel: "tooltip", title: "Account settings" %>
    </li>
  <% end %>
</ul>

<div id="new_contact_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="new_contact_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="new_contact_label">Add new contact</h4>
  </div>
  <div class="modal-body">
    <div class="accordion-group">
      <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
          <%= form_for @contact do |f| %>
            <%= f.hidden_field :inviter_id, value: current_user.id %>
            <%= f.text_field :email, class: "input-xlarge", placeholder: "Email" %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Optional Information
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= f.text_field :name, class: "input-xlarge", placeholder: "Name" %><br>
          <%= f.text_field :tel, class: "input-xlarge", placeholder: "Phone Number" %><br>
          <%= f.text_area :message, class: "input-xlarge", rows: 5 ,placeholder: "Leava a message" %> 
        </div>
      </div>
    </div>            
  </div>
  <div class="modal-footer">
    <%= f.submit "Save", class: "btn btn-primary btn-large pull-left" %>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>    
    <% end %>
  </div>
</div>

</nav>